body{
  background:#F3FFFD;
  font-family: 'Roboto', sans-serif;
}
.container::before{
  padding: 0;
  margin: 0;
}
.bg{
    margin: 40px auto;
}
.form-container{
  background-color: #FFFFFF;
  padding:30px;
  box-shadow: 0px 1px 0px 0px;
}
.logo-up{
  width: 200px;
  margin-bottom: 30px;
}
input[type="text"],
input[type="password"] {
  border: 1px solid #13B397;
}
.btn{
  background-color: #13B296;
  color: #fff;
  width: 250px;
}
.txt{
  margin-top: 1rem;
  margin-bottom: 10px;
}
.top-footer{
  border-bottom: 1px solid #fff;
  font-size: 11px;
  background-color: #13B397;
  padding-top: 10px;
  padding-bottom: 10px;
}
.center-footer{
 padding-top: 20px;
 background-color: #13B397;
}
.center-footer .header{
  font-size: 15px;
  font-weight: 700;
  margin-top: 12px ;
  margin-bottom: 10px;
}
.footer-up-logo{
  width: 130px;
}
.center-footer a{
  color: #fff;
  font-size: 12px;
}
.f-text{
  font-size: 13px;
}
.fab{
  font-size: 20px;
  margin-right: 10px;
}
.end-footer{
  background-color: #272727;
  font-size: 12px;
  padding: 5px 0px;
}
.f-left{
  float: left;
}
.f-right{
  float: right;
}

@media (max-width:991px) and (min-width:768px){
  .form-container{
    width:auto;
  }

  .btn{
    width: 180px;
  }
  .end-footer{
    height: auto;
  }

}

@media (max-width:767px)  and (min-width:576px) {
  .form-container{
    width:auto;
  }

 .btn{
   width: 150px;
 }
 .footer-up-logo{
   padding-top: 0px;
   width: 100px;
 }
}
@media (max-width:575px) and (min-width:300px) {
  .form-container{
    width:auto;
  }
  .form-img{
   display: none;
  }
  .btn{
    width: 100px;
  }
  .center-footer{
    text-align: center;
  }
  .center-footer ul{
    padding-bottom: 10px;
  }
 .end-footer{
   font-size: 10px;
   text-align: center;
 }
 .f-left{
   float: none;
   display: block;
 }
 .f-right{
   float: none;
 }
}
